<header class="headerAdmin">
	<nav class="navbar navbar-expand-md navbar-dark bg-dark d-flex justify-content-between m-0">
		<div class="bloc-logo">
			<a href="{{ path('home') }}">
				<img src="{{ asset('images/logo-blanc-transparent.png') }}" alt="Logo de l'AMCA">
			</a>
		</div>
		<div class="bloc-icon">
			<ul class="navbar-nav-admin my-auto d-flex align-items-center">
				{% if app.user %}
					<p class="pt-3">
						<i class="fa-regular fa-hand-peace" style="margin-right: 5px;"></i>
						Bienvenue
						{{ app.user.firstName }}
						!
					</p>
					<li class="nav-item pb-2">
						<a class="nav-link" href="{{ path('app_logout') }}">
							<i class="fa-solid fa-right-from-bracket"></i>
						</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</nav>
</header>
