{% extends 'base.html.twig' %}

{% block title %}Ajouter une sortie{% endblock %}

{% block body %}
    <h1>Ajouter une sortie</h1>

    {{ include('future_trips/_form.html.twig') }}

    <a href="{{ path('app_future_trips_index') }}">Retour</a>
{% endblock %}
