{% extends 'base.html.twig' %}

{% block title %}Ajouter une sortie
{% endblock %}

{% block body %}
	{% include "_partials/_headerAdmin.html.twig" %}
	<section class="row m-0">
		{% include "_partials/_sidebar.html.twig" %}

		<div class="dashboard editForm">
			<h2>Ajouter une sortie</h2>

			{{ include('future_trips/_form.html.twig') }}
			<div class="bloc">
				<button class="button" id="customSubmitButton">Valider</button>
				<a class="button" href="{{ path('admin') }}">Retour</a>
			</div>
		</div>
	</section>
{% endblock %}
