{% extends 'base.html.twig' %}

{% block title %}Photos des précédentes sorties
{% endblock %}

{% block body %}
	{% include "_partials/_headerAdmin.html.twig" %}
	<section>
		{% include "_partials/_sidebar.html.twig" %}

		<div class="dashboard">
			<h1>Photos des précédentes sorties</h1>
			<a class="button" href="{{ path('app_trip_pictures_new') }}" width="284px">Ajouter une photo à une sortie</a>

			<div class="all-previous-trips">
				{% for previous_trip in previous_trips %}
					<div class="tripCard">
						<div class="header">
							<h1>{{ previous_trip.previousTripName }}</h1>
						</div>
						<div class="body">
							{% for tripPicture in previous_trip.tripPictures %}
								<div class="pic">
									<img loading="lazy" src="{{ asset('uploads/' ~ tripPicture.tripPicture) }}" alt="Photo de la sortie">
									<a href="{{ path('app_trip_pictures_edit', {'id': tripPicture.id}) }}">
										<i class="fa-solid fa-pencil icon"></i>
									</a>
								</div>
							{% endfor %}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}
