@import 'mixins';
@import 'variables';
@import 'responsive';

#mapMeetings {
    height: 300px;
    width: 300px;
}

#mapFutureTrip {
    height: 300px;
    width: 300px;
}

.headerAdmin {
    .bloc-logo img {
        height: 70px;
        margin-left: 10px;
    }
}