@import "mixins";
@import "variables";
@import "responsive";

/********** GLOBALS **********/
h1 {
    @include title1;
}

h2 {
    @include title2;
}

h2::after {
    display: block;
    height: 1px;
    width: 100px;
    content: "";
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 40px;
    background-color: $light;
    box-shadow: $light 1px 0 5px;
}

h4 {
    @include title4;
}

h4::after {
    display: block;
    height: 1px;
    width: 100px;
    content: "";
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: $light;
    box-shadow: $light 1px 0 5px;
}

p,
a,
li,
small {
    @include paragraph;
}

p {
    font-size: 20px;
}

a:hover {
    color: $light;
    text-decoration: none;
    text-shadow: $light 0 0 5px;
}

.button {
    color: $light;
    background-color: $dark;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Anton", sans-serif;
    font-size: 20px;
    text-decoration: none;
    transition: all 0.5s ease;
}

.button:hover {
    text-decoration: none;
    box-shadow: $light 0px 0 5px;
    text-shadow: $light 0 0 5px;
}

/***** MAIN NAVBAR *****/
.navbar {
    font-size: 30px;
    color: $light;

    a {
        margin: 0 10px;
    }
}

/***** SIDEBAR *****/
#sidebarFullsize {
    width: 15%;
    padding: 0;

    nav {
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        font-size: 16px;

        i {
            color: $light;
            margin-right: 5px;
        }

        a {
            color: $light;
            margin: 0;
        }
    }
}

#sidebarResponsive {
    display: none;
    width: 6rem;

    nav {
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        i {
            color: $light;
            font-size: 16px;
        }
    }
}

/***** CHECKBOX IN FORMS *****/
input#future_trips_users {
    margin: 20px;
}

/********** HEADERS **********/
.headerIndex {
    background-image: url(../images/wallpaper1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    color: $light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        margin: 90px 0;
    }
}

.headerPages {
    background-image: linear-gradient(rgb(1, 1, 1, 0.4), rgba(1, 1, 1, 0.4)),
        url(../images/wallpaper3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 80vh;
    color: $light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        margin: 70px 0;
    }
}

.headerShow {
    background-image: linear-gradient(rgb(1, 1, 1, 0.6), rgba(1, 1, 1, 0.6)),
        url(../images/wallpaper4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 60vh;
    color: $light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        margin: 70px 0;
    }

    h2::after,
    h4::after {
        display: none;
    }

    h4 {
        margin: 40px;
    }
}

.headerAdmin {
    img {
        height: 70px;
        margin-left: 10px;
    }

    li {
        list-style: none;
    }

    i {
        color: $light;
        font-size: 20px;
    }
}

/********** FOOTER **********/
footer {
    li {
        color: $light;
        list-style: none;
        line-height: 4;
    }

    a {
        color: $light;
        text-decoration: none;
    }

    .footerBloc1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $dark;

        .bloc-left img {
            height: 400px;
            margin: 40px 40px 40px 100px;
        }

        .bloc-right {
            margin-right: 100px;
            display: flex;
            align-items: start;
        }

        .list {
            font-size: 20px;
            margin-left: 80px;
        }
    }

    .footerBloc2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $darker;

        .legals,
        .brand {
            color: $light;
            margin: 20px;
        }
    }
}

/********** LEGAL PAGES **********/
.mainLegals {
    background-color: $dark;
    color: $light;

    h1 {
        font-size: 70px;
        padding: 40px;
    }

    .blocsLegals {
        display: flex;
        justify-content: space-evenly;
        align-items: start;
        padding: 20px;

        .blocLeft,
        .blocRight {
            width: 50%;
            padding: 30px;
            text-align: justify;
        }

        h2,
        h4 {
            padding-top: 20px;
        }
    }
}

/********** INDEX PAGE **********/
/*** OUR STORY ***/
#our-story {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
    background-color: $brown;
    color: $light;

    .story-picture img {
        width: 450px;
        box-shadow: $darker 0px 0px 20px 10px;
        border-radius: 10px;
    }

    .story-text {
        width: 700px;

        p {
            text-align: center;
        }
    }

    .story-text,
    .story-picture {
        opacity: 0;
        transform: translateX(100);
        /* Initial position */
        transition: opacity 0.8s ease, transform 1s ease;
    }

    .animate-from-left {
        transform-origin: left center;
    }

    .animate-from-right {
        transform-origin: right center;
    }

    .animated {
        opacity: 1 !important;
        transform: translateX(10%) !important;
    }

    .story-text.animated {
        transform: translateX(-10%) !important;
    }
}

/*** OUR PURPOSES ***/
#our-purposes {
    height: 80vh;
    background-image: linear-gradient(rgb(1, 1, 1, 0.7), rgba(1, 1, 1, 0.7)),
        url(../images/photo-de-groupe.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $light;

    .our-purposes {
        display: flex;
        align-items: center;

        .purpose {
            height: 400px;
            width: 400px;
            background-color: $light;
            opacity: 0.8;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 40px 30px 30px 30px;
            color: $darker;
            margin: 60px;
        }

        p {
            text-align: center;
            font-size: 25px;
            margin: 0;
        }
    }
}

/*** PREVIOUS TRIPS ***/
#our-previous-trips {
    background-color: $dark;
    color: $light;
    padding: 80px 0;

    .previous-trips {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .previous-trip {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 60px;
        width: 80%;

        &:nth-child(odd) {
            flex-direction: row-reverse;
        }

        .previous-trip-picture {
            width: 500px;
            height: 370px;
            box-shadow: $light 0px 0px 10px 5px;

            img {
                width: 500px;
                height: 370px;
            }
        }

        .previous-trip-text {
            width: 600px;
            text-align: center;
        }
    }
}

/*** CONTACT ***/
#contact-us {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(1, 1, 1, 0.7), rgba(1, 1, 1, 0.7)),
        url(../images/wallpaper2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 40vh;

    h1 {
        font-size: 60px;
        color: $light;
    }

    .buttonIndex {
        color: $light;
        background-color: lightgrey;
        font-size: 60px;
        font-family: "Anton", sans-serif;
        padding: 10px 40px;
        border-radius: 10px;
        border: none;
        margin: 60px;
        text-decoration: none;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .buttonIndex:hover {
        box-shadow: $light 0px 0 10px;
        text-shadow: $light 0 0 5px;
    }
}

/********** ASSO PAGE **********/
/*** MONTHLY MEETING ***/
#monthly-meeting {
    background-color: $darker;
    color: $light;
    padding: 80px 0;

    .our-meeting {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .meetingLeft {
        img {
            width: 500px;
            margin: 40px 0;
        }

        #mapMeetings {
            height: 300px;
            width: 500px;
        }
    }

    .meetingRight {
        width: 700px;

        p {
            font-size: 30px;
            text-align: center;
        }

        i {
            margin-right: 10px;
        }
    }

    .meetingRight,
    .meetingLeft {
        opacity: 0;
        transform: translateX(100);
        /* Initial position */
        transition: opacity 0.8s ease, transform 1s ease;
    }

    .animate-from-left {
        transform-origin: left center;
    }

    .animate-from-right {
        transform-origin: right center;
    }

    .animated {
        opacity: 1 !important;
        transform: translateX(5%) !important;
    }

    .meetingRight.animated {
        transform: translateX(-5%) !important;
    }
}

/*** AGENDA ***/
#agenda {
    background-color: $dark;
    color: $light;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*** FUTURE TRIPS INDEX ***/
#futures-sorties {
    background-color: $darker;
    color: $light;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .all-trips {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .each-trip {
            width: 600px;
            height: 700px;
            background-color: $light;
            box-shadow: $light 0px 0px 8px 2px;
            margin: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            color: $darker;
            opacity: 0;
            transform: translateY(20px);
            transition: opacity 0.5s, transform 0.5s;
        }

        .each-trip.visible {
            opacity: 1;
            transform: translateY(0);
        }

        h4::after {
            background-color: $darker;
            box-shadow: $darker 1px 0 5px;
        }

        img {
            width: 500px;
            height: 350px;
            margin-bottom: 30px;
        }

        small {
            font-size: 18px;
        }
    }
}

/*** FUTURE TRIPS SHOW ***/
.mainShow {
    background-color: $darker;
    color: $light;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 60px;

    .showLeft {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 600px;
            height: 450px;
            margin-bottom: 30px;
        }

        #mapFutureTrip {
            width: 600px;
            height: 450px;
        }
    }

    .showRight {
        width: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            text-align: center;
        }

        h4 {
            margin-top: 40px;
        }
    }
}

/********** MEMBERSHIP PAGE **********/
.mainMembership {
    background-color: $darker;
    color: $light;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 60px;

    h2 {
        margin-top: 60px;
    }

    a {
        text-decoration: none;
        color: $light;
        text-transform: uppercase;
    }

    embed {
        height: 480px;
    }
}

/********** FORUM PAGE **********/
.mainForum {
    background-color: $darker;
    color: $light;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .newTheme {
        margin-top: 20px;
        width: 500px;
        display: flex;
        justify-content: space-evenly;
    }

    .forum {
        background-color: $dark;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        padding: 40px 100px;
        margin: 60px;
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 0.5s, transform 0.5s;
    }

    .forum.visible {
        opacity: 1;
        transform: translateY(0);
    }

    h2 {
        margin-top: 20px;
    }

    h4 {
        margin-top: 40px;
    }

    i {
        text-decoration: none;
        color: $light;
        font-size: 20px;
    }

    a {
        text-decoration: none;
        color: $light;
    }

    p {
        text-align: center;
        margin-bottom: 40px;
    }

    .comment-container {
        margin: 20px;

        i {
            margin-right: 5px;
            margin-left: 5px;
            vertical-align: top;
            font-size: 10px;
        }
    }
}

/********** CONTACT PAGE **********/
.mainContact {
    background-color: $darker;
    color: $light;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        margin-top: 20px;
    }

    .custom-form {
        background-color: $light;
        opacity: 0.7;
        border: 1px solid $light;
        border-radius: 5px;
        margin-bottom: 40px;
        display: block;
        width: 800px;
        padding: 10px;
    }

    #contacts_agreeTerms {
        margin-left: 5px;
    }
}

/********** LOGIN & REGISTER PAGES **********/
.loginForm {
    background-color: $darker;
    color: $light;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    h2 {
        margin-top: 60px;
        text-align: center;
    }

    .custom-form {
        background-color: $light;
        opacity: 0.7;
        border: 1px solid $light;
        border-radius: 5px;
        display: block;
        width: 500px;
        padding: 10px;
    }

    label {
        margin-top: 10px;
    }

    .bloc {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;

        #registration_form_assignment_0,
        #registration_form_assignment_1 {
            margin-right: 5px;
            margin-left: 15px;
        }
    }

    .blocActions {
        display: flex;
        justify-content: space-evenly;
    }
}

/********** ADMIN PAGES **********/
/*** GENERAL DASHBOARD ***/
.dashboard {
    background-color: #d6d6d6;
    color: $dark;
    padding: 20px;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        margin-top: 40px;
        margin-bottom: 0;
        font-size: 40px;
    }

    .icon {
        color: $darker;
        font-size: 20px;
        border: none;
        background-color: transparent;
        transition: all 0.5s ease;
    }

    .icon:hover {
        color: $light;
        text-shadow: $dark 0 0 5px;
    }

    table {
        background-color: white;
        box-shadow: #0D121C 0px 0 5px;
        margin: 20px;
        border: none;

        th {
            text-align: center;
            text-transform: uppercase;
            padding: 10px;
            border-bottom: 1px solid $dark;
            white-space: nowrap;
        }

        td {
            text-align: center;
            padding: 10px;

            img {
                width: 150px;
                height: 110px;
                margin: 2px;
            }
        }

        .tdText {
            font-size: 12px;
        }

        .tdLarger {
            width: 500px;
        }

        .tdList {
            text-align: start;
            white-space: nowrap;
        }
    }

    .table-responsive {
        overflow-x: auto;
        width: 100%;
    }

    /*** PICTURES BANK PAGE ***/
    .allTrips {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .tripCard {
            background-color: $light;
            border-radius: 10px;
            margin: 30px 0;
            padding: 10px 0;
            width: 45%;
            display: flex;
            flex-direction: column;

            .header {
                h1 {
                    font-size: 25px;
                    margin: 10px;
                }
            }

            .body {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }

            .pic {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px;
                position: relative;

                &:hover {
                    img {
                        filter: brightness(50%);
                    }

                    .icon {
                        display: block;
                    }
                }

                img {
                    margin: 5px;
                    width: 250px;
                    height: 180px;
                    transition: filter 0.5s ease;
                }

                .icon {
                    display: none;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: $light;
                    font-size: 25px;
                    cursor: pointer;
                }
            }
        }
    }

    /*** USERS INDEX PAGE ***/
    #dataTable {
        font-size: small;
        border-radius: 10px;

        td {
            padding: 10px 5px;
        }
    }

    .dataTables_wrapper .dataTables_paginate {
        margin-right: 30px;
        margin-bottom: 40px;
    }

    #dataTable_previous {
        background-color: transparent;
    }

    .page-link {
        background-color: transparent;
        border: none;
        color: $dark;
    }

    .page-item.active .page-link {
        background-color: white;
        border: none;
        color: $dark;
    }

    .dataTables_info,
    .table-info {
        @include paragraph;
        font-size: 18px;
        color: $dark;
        display: flex;
        justify-content: space-between;
        margin: 30px;
    }

    /*** RECEIVED MESSAGES PAGE ***/
    .receivedMessage {
        width: 60%;
        background-color: $light;
        border-radius: 10px;
        padding: 20px;
        margin: 20px;

        span {
            font-weight: bold;
        }

        .blocMessage {
            margin: 30px 0;
            padding: 10px;
            background-color: white;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
        }

        .blocMessage .message {
            font-style: italic;
        }

        .blocActions {
            display: flex;
            align-items: center;
            padding-left: 10px;
        }
    }
}

/*** FORMS ***/
.editForm {
    background-color: #d6d6d6;
    color: $dark;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    h2 {
        margin-top: 60px;
        text-align: center;
    }

    .custom-form {
        background-color: $light;
        opacity: 0.7;
        border: 1px solid $light;
        border-radius: 5px;
        display: block;
        width: 500px;
        padding: 10px;
    }

    label {
        margin-top: 30px;
    }

    .bloc {
        display: flex;
        justify-content: space-evenly;
        width: 400px;
        margin: 20px;
    }

    .hide-button {
        display: none;
    }
}