/********** GLOBALS **********/
h1 {
  font-family: "Anton", sans-serif;
  font-size: 100px;
  text-align: center;
}

h2 {
  font-family: "Over the Rainbow", cursive;
  font-size: 50px;
  text-align: center;
}

h2::after {
  display: block;
  height: 1px;
  width: 100px;
  content: "";
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 40px;
  background-color: #F3F4F7;
  box-shadow: #F3F4F7 1px 0 5px;
}

h4 {
  font-family: "Over the Rainbow", cursive;
  font-size: 30px;
  text-align: center;
}

h4::after {
  display: block;
  height: 1px;
  width: 100px;
  content: "";
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: #F3F4F7;
  box-shadow: #F3F4F7 1px 0 5px;
}

p,
a,
li,
small {
  font-family: "Montserrat", sans-serif;
}

p {
  font-size: 20px;
}

a:hover {
  color: #F3F4F7;
  text-decoration: none;
  text-shadow: #F3F4F7 0 0 5px;
}

.button {
  color: #F3F4F7;
  background-color: #25262A;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Anton", sans-serif;
  font-size: 20px;
  text-decoration: none;
  transition: all 0.5s ease;
}

.button:hover {
  text-decoration: none;
  box-shadow: #F3F4F7 0px 0 5px;
  text-shadow: #F3F4F7 0 0 5px;
}

/***** MAIN NAVBAR *****/
.navbar {
  font-size: 30px;
  color: #F3F4F7;
}
.navbar a {
  margin: 0 10px;
}

/***** SIDEBAR *****/
#sidebarFullsize {
  width: 13%;
  padding: 0;
}
#sidebarFullsize nav {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  font-size: 16px;
}
#sidebarFullsize nav i {
  color: #F3F4F7;
  margin-right: 5px;
}
#sidebarFullsize nav a {
  color: #F3F4F7;
  margin: 0;
}

#sidebarResponsive {
  display: none;
  width: 6rem;
}
#sidebarResponsive nav {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
#sidebarResponsive nav i {
  color: #F3F4F7;
  font-size: 16px;
}

/********** HEADERS **********/
.headerIndex {
  background-image: url(../images/wallpaper1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  color: #F3F4F7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.headerIndex h1 {
  margin: 90px 0;
}

.headerPages {
  background-image: linear-gradient(rgba(1, 1, 1, 0.4), rgba(1, 1, 1, 0.4)), url(../images/wallpaper3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 80vh;
  color: #F3F4F7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.headerPages h1 {
  margin: 70px 0;
}

.headerShow {
  background-image: linear-gradient(rgba(1, 1, 1, 0.6), rgba(1, 1, 1, 0.6)), url(../images/wallpaper4.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 60vh;
  color: #F3F4F7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.headerShow h1 {
  margin: 70px 0;
}
.headerShow h2::after,
.headerShow h4::after {
  display: none;
}
.headerShow h4 {
  margin: 40px;
}

.headerAdmin img {
  height: 70px;
  margin-left: 10px;
}
.headerAdmin li {
  list-style: none;
}
.headerAdmin i {
  color: #F3F4F7;
  font-size: 20px;
}

/********** FOOTER **********/
footer li {
  color: #F3F4F7;
  list-style: none;
  line-height: 4;
}
footer a {
  color: #F3F4F7;
  text-decoration: none;
}
footer .footerBloc1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #25262A;
}
footer .footerBloc1 .bloc-left img {
  height: 400px;
  margin: 40px 40px 40px 100px;
}
footer .footerBloc1 .bloc-right {
  margin-right: 100px;
  display: flex;
  align-items: start;
}
footer .footerBloc1 .list {
  font-size: 20px;
  margin-left: 80px;
}
footer .footerBloc2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #16171A;
}
footer .footerBloc2 .legals,
footer .footerBloc2 .brand {
  color: #F3F4F7;
  margin: 20px;
}

/********** LEGAL PAGES **********/
.mainLegals {
  background-color: #25262A;
  color: #F3F4F7;
}
.mainLegals h1 {
  font-size: 70px;
  padding: 40px;
}
.mainLegals .blocsLegals {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  padding: 20px;
}
.mainLegals .blocsLegals .blocLeft,
.mainLegals .blocsLegals .blocRight {
  width: 50%;
  padding: 30px;
  text-align: justify;
}
.mainLegals .blocsLegals h2,
.mainLegals .blocsLegals h4 {
  padding-top: 20px;
}

/********** INDEX PAGE **********/
/*** OUR STORY ***/
#our-story {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80vh;
  background-color: #59371E;
  color: #F3F4F7;
}
#our-story .story-picture img {
  width: 450px;
  box-shadow: #16171A 0px 0px 20px 10px;
  border-radius: 10px;
}
#our-story .story-text {
  width: 700px;
}
#our-story .story-text p {
  text-align: center;
}
#our-story .story-text,
#our-story .story-picture {
  opacity: 0;
  transform: translateX(100);
  /* Initial position */
  transition: opacity 0.8s ease, transform 1s ease;
}
#our-story .animate-from-left {
  transform-origin: left center;
}
#our-story .animate-from-right {
  transform-origin: right center;
}
#our-story .animated {
  opacity: 1 !important;
  transform: translateX(10%) !important;
}
#our-story .story-text.animated {
  transform: translateX(-10%) !important;
}

/*** OUR PURPOSES ***/
#our-purposes {
  height: 80vh;
  background-image: linear-gradient(rgba(1, 1, 1, 0.7), rgba(1, 1, 1, 0.7)), url(../images/photo-de-groupe.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #F3F4F7;
}
#our-purposes .our-purposes {
  display: flex;
  align-items: center;
}
#our-purposes .our-purposes .purpose {
  height: 400px;
  width: 400px;
  background-color: #F3F4F7;
  opacity: 0.8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 30px 30px 30px;
  color: #16171A;
  margin: 60px;
}
#our-purposes .our-purposes p {
  text-align: center;
  font-size: 25px;
  margin: 0;
}

/*** PREVIOUS TRIPS ***/
#our-previous-trips {
  background-color: #25262A;
  color: #F3F4F7;
  padding: 80px 0;
}
#our-previous-trips .previous-trips {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#our-previous-trips .previous-trip {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 60px;
  width: 80%;
}
#our-previous-trips .previous-trip:nth-child(odd) {
  flex-direction: row-reverse;
}
#our-previous-trips .previous-trip .previous-trip-picture {
  width: 500px;
  height: 370px;
  box-shadow: #F3F4F7 0px 0px 10px 5px;
}
#our-previous-trips .previous-trip .previous-trip-picture img {
  width: 500px;
  height: 370px;
}
#our-previous-trips .previous-trip .previous-trip-text {
  width: 600px;
  text-align: center;
}

/*** CONTACT ***/
#contact-us {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(1, 1, 1, 0.7), rgba(1, 1, 1, 0.7)), url(../images/wallpaper2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 40vh;
}
#contact-us h1 {
  font-size: 60px;
  color: #F3F4F7;
}
#contact-us .buttonIndex {
  color: #F3F4F7;
  background-color: lightgrey;
  font-size: 60px;
  font-family: "Anton", sans-serif;
  padding: 10px 40px;
  border-radius: 10px;
  border: none;
  margin: 60px;
  text-decoration: none;
  opacity: 1;
  transition: all 0.5s ease;
}
#contact-us .buttonIndex:hover {
  box-shadow: #F3F4F7 0px 0 10px;
  text-shadow: #F3F4F7 0 0 5px;
}

/********** ASSO PAGE **********/
/*** MONTHLY MEETING ***/
#monthly-meeting {
  background-color: #16171A;
  color: #F3F4F7;
  padding: 80px 0;
}
#monthly-meeting .our-meeting {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#monthly-meeting .meetingLeft img {
  width: 500px;
  margin: 40px 0;
}
#monthly-meeting .meetingLeft #mapMeetings {
  height: 300px;
  width: 500px;
}
#monthly-meeting .meetingRight {
  width: 700px;
}
#monthly-meeting .meetingRight p {
  font-size: 30px;
  text-align: center;
}
#monthly-meeting .meetingRight i {
  margin-right: 10px;
}
#monthly-meeting .meetingRight,
#monthly-meeting .meetingLeft {
  opacity: 0;
  transform: translateX(100);
  /* Initial position */
  transition: opacity 0.8s ease, transform 1s ease;
}
#monthly-meeting .animate-from-left {
  transform-origin: left center;
}
#monthly-meeting .animate-from-right {
  transform-origin: right center;
}
#monthly-meeting .animated {
  opacity: 1 !important;
  transform: translateX(5%) !important;
}
#monthly-meeting .meetingRight.animated {
  transform: translateX(-5%) !important;
}

/*** AGENDA ***/
#agenda {
  background-color: #25262A;
  color: #F3F4F7;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*** FUTURE TRIPS INDEX ***/
#futures-sorties {
  background-color: #16171A;
  color: #F3F4F7;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#futures-sorties .all-trips {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#futures-sorties .all-trips .each-trip {
  width: 600px;
  height: 700px;
  background-color: #F3F4F7;
  box-shadow: #F3F4F7 0px 0px 8px 2px;
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: #16171A;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s;
}
#futures-sorties .all-trips .each-trip.visible {
  opacity: 1;
  transform: translateY(0);
}
#futures-sorties .all-trips h4::after {
  background-color: #16171A;
  box-shadow: #16171A 1px 0 5px;
}
#futures-sorties .all-trips img {
  width: 500px;
  height: 350px;
  margin-bottom: 30px;
}
#futures-sorties .all-trips small {
  font-size: 18px;
}

/*** FUTURE TRIPS SHOW ***/
.mainShow {
  background-color: #16171A;
  color: #F3F4F7;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 60px;
}
.mainShow .showLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainShow .showLeft img {
  width: 600px;
  height: 450px;
  margin-bottom: 30px;
}
.mainShow .showLeft #mapFutureTrip {
  width: 600px;
  height: 450px;
}
.mainShow .showRight {
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainShow .showRight p {
  text-align: center;
}
.mainShow .showRight h4 {
  margin-top: 40px;
}

/********** MEMBERSHIP PAGE **********/
.mainMembership {
  background-color: #16171A;
  color: #F3F4F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 60px;
}
.mainMembership h2 {
  margin-top: 60px;
}
.mainMembership a {
  text-decoration: none;
  color: #F3F4F7;
  text-transform: uppercase;
}
.mainMembership embed {
  height: 480px;
}

/********** FORUM PAGE **********/
.mainForum {
  background-color: #16171A;
  color: #F3F4F7;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainForum .newTheme {
  margin-top: 20px;
  width: 500px;
  display: flex;
  justify-content: space-evenly;
}
.mainForum .forum {
  background-color: #25262A;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 40px 100px;
  margin: 60px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s;
}
.mainForum .forum.visible {
  opacity: 1;
  transform: translateY(0);
}
.mainForum h2 {
  margin-top: 20px;
}
.mainForum h4 {
  margin-top: 40px;
}
.mainForum i {
  text-decoration: none;
  color: #F3F4F7;
  font-size: 20px;
}
.mainForum a {
  text-decoration: none;
  color: #F3F4F7;
}
.mainForum p {
  text-align: center;
  margin-bottom: 40px;
}
.mainForum .comment-container {
  margin: 20px;
}
.mainForum .comment-container i {
  margin-right: 5px;
  margin-left: 5px;
  vertical-align: top;
  font-size: 10px;
}

/********** CONTACT PAGE **********/
.mainContact {
  background-color: #16171A;
  color: #F3F4F7;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainContact h2 {
  margin-top: 20px;
}
.mainContact .custom-form {
  background-color: #F3F4F7;
  opacity: 0.7;
  border: 1px solid #F3F4F7;
  border-radius: 5px;
  margin-bottom: 40px;
  display: block;
  width: 800px;
  padding: 10px;
}
.mainContact #contacts_agreeTerms {
  margin-left: 5px;
}

/********** LOGIN & REGISTER PAGES **********/
.loginForm {
  background-color: #16171A;
  color: #F3F4F7;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.loginForm h2 {
  margin-top: 60px;
  text-align: center;
}
.loginForm .custom-form {
  background-color: #F3F4F7;
  opacity: 0.7;
  border: 1px solid #F3F4F7;
  border-radius: 5px;
  display: block;
  width: 500px;
  padding: 10px;
}
.loginForm label {
  margin-top: 10px;
}
.loginForm .bloc {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.loginForm .bloc #registration_form_assignment_0,
.loginForm .bloc #registration_form_assignment_1 {
  margin-right: 5px;
  margin-left: 15px;
}
.loginForm .blocActions {
  display: flex;
  justify-content: space-evenly;
}

/********** ADMIN PAGES **********/
/*** GENERAL DASHBOARD ***/
.dashboard {
  background-color: #d6d6d6;
  color: #25262A;
  padding: 20px;
  width: 87%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*** PICTURES BANK PAGE ***/
  /*** USERS INDEX PAGE ***/
  /*** RECEIVED MESSAGES PAGE ***/
}
.dashboard h1 {
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 40px;
}
.dashboard .icon {
  color: #16171A;
  font-size: 20px;
  border: none;
  background-color: transparent;
  transition: all 0.5s ease;
}
.dashboard .icon:hover {
  color: #F3F4F7;
  text-shadow: #25262A 0 0 5px;
}
.dashboard table {
  background-color: #F3F4F7;
  border-radius: 10px;
  box-shadow: #0D121C 0px 0 5px;
  margin: 20px;
  border: none;
}
.dashboard table th {
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  border-bottom: 1px solid #25262A;
  white-space: nowrap;
}
.dashboard table td {
  text-align: center;
  padding: 10px;
}
.dashboard table td img {
  width: 150px;
  height: 110px;
  margin: 2px;
}
.dashboard table .tdText {
  font-size: 12px;
}
.dashboard table .tdLarger {
  width: 500px;
}
.dashboard table .tdList {
  text-align: start;
  white-space: nowrap;
}
.dashboard .table-responsive {
  overflow-x: auto;
  width: 100%;
}
.dashboard .dashboardBloc {
  /*** FUTURE TRIPS ***/
}
.dashboard .dashboardBloc .all-trips {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.dashboard .dashboardBloc .all-trips .each-trip {
  width: 40%;
  border-radius: 10px;
  background-color: #F3F4F7;
  box-shadow: #0D121C 0px 0 5px;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dashboard .dashboardBloc .all-trips h4 {
  margin: 0;
}
.dashboard .dashboardBloc .all-trips img {
  width: 200px;
  height: 140px;
  margin: 10px;
}
.dashboard .allTrips {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.dashboard .allTrips .tripCard {
  background-color: #F3F4F7;
  border-radius: 10px;
  margin: 30px 0;
  padding: 10px 0;
  width: 45%;
  display: flex;
  flex-direction: column;
}
.dashboard .allTrips .tripCard .header h1 {
  font-size: 25px;
  margin: 10px;
}
.dashboard .allTrips .tripCard .body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.dashboard .allTrips .tripCard .pic {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  position: relative;
}
.dashboard .allTrips .tripCard .pic:hover img {
  filter: brightness(50%);
}
.dashboard .allTrips .tripCard .pic:hover .icon {
  display: block;
}
.dashboard .allTrips .tripCard .pic img {
  margin: 5px;
  width: 250px;
  height: 180px;
  transition: filter 0.5s ease;
}
.dashboard .allTrips .tripCard .pic .icon {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #F3F4F7;
  font-size: 25px;
  cursor: pointer;
}
.dashboard #dataTable {
  font-size: small;
  border-radius: 10px;
}
.dashboard #dataTable td {
  padding: 10px 5px;
}
.dashboard .dataTables_wrapper .dataTables_paginate {
  margin-right: 30px;
  margin-bottom: 40px;
}
.dashboard #dataTable_previous {
  background-color: transparent;
}
.dashboard .page-link {
  background-color: transparent;
  border: none;
  color: #25262A;
}
.dashboard .page-item.active .page-link {
  background-color: white;
  border: none;
  color: #25262A;
}
.dashboard .dataTables_info,
.dashboard .table-info {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #25262A;
  display: flex;
  justify-content: space-between;
  margin: 30px;
}
.dashboard .receivedMessage {
  width: 60%;
  background-color: #F3F4F7;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}
.dashboard .receivedMessage span {
  font-weight: bold;
}
.dashboard .receivedMessage .blocMessage {
  margin: 30px 0;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.dashboard .receivedMessage .blocMessage .message {
  font-style: italic;
}
.dashboard .receivedMessage .blocActions {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

/*** FORMS ***/
.editForm {
  background-color: #d6d6d6;
  color: #25262A;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.editForm h2 {
  margin-top: 60px;
  text-align: center;
}
.editForm .custom-form {
  background-color: #F3F4F7;
  opacity: 0.7;
  border: 1px solid #F3F4F7;
  border-radius: 5px;
  display: block;
  width: 500px;
  padding: 10px;
}
.editForm .usersChoice {
  background-color: #F3F4F7;
  opacity: 0.7;
  border-radius: 5px;
  width: 500px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}
.editForm .usersChoice label {
  width: 91%;
  margin-top: 0;
}
.editForm label {
  margin-top: 30px;
}
.editForm .bloc {
  display: flex;
  justify-content: space-evenly;
  width: 400px;
  margin: 20px;
}
.editForm .hide-button {
  display: none;
}

/***** CHECKBOX IN FORMS *****/
input#future_trips_users {
  margin: 20px;
}/*# sourceMappingURL=style.css.map */