{% extends 'base.html.twig' %}

{% block title %}Réinitialiser le mot de passe
{% endblock %}

{% block body %}
	{% include "_partials/_headerAdmin.html.twig" %}
	<div class="loginForm">
		<h2>Réinitialiser votre mot de passe</h2>

		{{ form_start(resetForm) }}
		{{ form_row(resetForm.plainPassword, {
            'attr': {
                'autocomplete': 'new-password',
                'class': 'custom-form',
                'type': 'password',
            }
        }) }}

		<button class="button">Valider</button>
		{{ form_end(resetForm) }}
	</div>
{% endblock %}
