@media all and (max-width:1500px) {

    /********** INDEX PAGE **********/
    /*** OUR STORY ***/
    #our-story {
        justify-content: space-between !important;
    }

    /********** ASSO PAGE **********/
    /*** MONTHLY MEETING ***/
    #reunions-mensuelles {
        .our-meeting {
            justify-content: space-between !important;
        }
    }
}

@media all and (max-width:1310px) {

    /********** PARTIALS **********/
    /***** SIDEBARS *****/
    #sidebarFullsize {
        display: none;
    }

    #sidebarResponsive {
        display: block !important;
    }

    /********** ADMIN PAGES **********/
    /*** GENERAL DASHBOARD ***/
    .dashboard {
        width: 100% !important;
        margin-left: 5rem !important;
    }

    /********** INDEX PAGE **********/
    /*** OUR STORY ***/
    #our-story {

        .story-text,
        .story-picture {
            opacity: 1 !important;
            transform: none !important;
            transition: none !important;
            margin: 20px !important;
        }

        .story-text {
            width: 500px !important;
        }
    }

    /********** ASSO PAGE **********/
    /*** MONTHLY MEETING ***/
    #reunions-mensuelles {

        .meetingRight,
        .meetingLeft {
            opacity: 1 !important;
            transform: none !important;
            transition: none !important;
            margin: 20px !important;
        }
    }
}

@media all and (max-width:1200px) {

    /********** PARTIALS **********/
    /***** FOOTER *****/
    footer {
        .footerBloc1 {
            padding: 60px !important;

            .list {
                margin-left: 40px !important;
            }
        }
    }

    /********** INDEX PAGE **********/
    /*** CONTACT ***/
    #contact-us {

        .contact-email,
        .contact-facebook {
            flex-direction: column !important;
        }

        .buttonIndex {
            margin: 20px 20px 60px 20px !important;
        }
    }

    /********** ASSO PAGE **********/
    /*** FUTURE TRIPS SHOW ***/
    .mainShow {
        flex-direction: column-reverse;

        .showRight {
            width: 600px !important;
        }
    }
}

@media all and (max-width:1000px) {

    /********** PARTIALS **********/
    /***** FOOTER *****/
    footer {
        .footerBloc1 {
            flex-direction: column;
            padding: 10px !important;

            .bloc-right {
                justify-content: space-evenly;
                width: 100%;
            }

            .list {
                margin-left: 10px !important;
            }

            .list ul {
                padding: 0 !important;
            }
        }
    }

    /********** INDEX PAGE **********/
    /*** OUR STORY ***/
    #our-story {
        flex-direction: column-reverse;
    }

    /*** PREVIOUS TRIPS ***/
    #our-previous-trips {
        .previous-trip {
            flex-direction: column !important;
            margin: 0 10px !important;
        }

        .previous-trip-picture {
            margin: 10px !important;
        }

        .previous-trip-text {
            margin: 25px 10px 60px 10px !important;
        }
    }

    /*** OTHER CLUB ***/
    #other-club {

        .club-picture {
            width: 500px !important;
            height: 400px !important;
        }

        .club-text {
            width: 400px !important;
        }
    }

    /********** FORUM PAGE **********/
    .mainForum {
        flex-direction: column !important;
        align-items: center !important;

        table {
            display: none;
        }
    }

    /********** ADMIN PAGES **********/
    /*** MAIN DASHBOARD ***/
    /*** SECTIONS OF MAIN DASHBOARD***/
    .dashboardBloc {

        /*** PRESENTATION ***/
        .presentation {
            flex-direction: column;
            align-items: center;
        }
    }

    /*** USERS INDEX PAGE ***/
    .dashboard {
        table {
            width: 800px;
            font-size: medium !important;

            thead {
                display: none;
            }

            tr {
                display: block;
                margin: 20px;
                padding: 20px 0;
            }

            td {
                display: block;
                text-align: right !important;
                padding: 10px 60px !important;
            }

            td:before {
                content: attr(data-label);
                float: left;
                font-weight: bold;
            }
        }

        .dataTables_info,
        .table-info {
            flex-direction: column;
            align-items: center;

            .dataTables_length {
                margin-bottom: 20px;
            }
        }
    }
}

@media all and (max-width:800px) {

    /********** INDEX PAGE **********/
    /*** OTHER CLUB ***/
    #other-club {
        display: flex;
        flex-direction: column;
        padding: 150px 20px;

        .club-picture {
            width: 600px;
            height: 400px;
        }

        .club-text {
            width: 600px;
            margin-bottom: 60px;
        }
    }

    /********** ASSO PAGE **********/
    /*** AGENDA ***/
    #agenda h2 {
        margin-top: 30px;

        .gagenda_embed {
            iframe {
                width: 600px !important;
                height: 400px !important;
            }
        }
    }

    /*** GALLERY ***/
    #galerie-photos {

        .gallery {
            width: 640px !important;

            .picture {
                width: 600px !important;
            }
        }
    }

    /********** ADMIN PAGES **********/
    /*** MAIN DASHBOARD ***/
    /*** SECTIONS OF MAIN DASHBOARD***/
    .dashboardBloc {

        /*** PRESENTATION ***/
        .asso-docs {

            .docs {
                flex-direction: column;
            }
        }

        /*** FUTURE TRIPS ***/
        .each-trip {
            width: 600px !important;
        }
    }

    /*** USERS INDEX PAGE ***/
    .dashboard {
        table {
            width: 600px;
        }
    }

    /***** LEGAL PAGES *****/
    .mainLegals {

        h1 {
            font-size: 60px !important;
            padding: 20px !important;
        }

        .blocsLegals {
            flex-direction: column;
            align-items: center;

            .blocLeft,
            .blocRight {
                width: 100% !important;
            }
        }
    }
}

@media all and (max-width:600px) {

    /********** PARTIALS **********/
    /***** HEADERS *****/
    .headerIndex {
        background-attachment: scroll !important;

        h1 {
            font-size: 80px;
        }
    }

    /***** FOOTER *****/
    footer {
        li {
            line-height: 3 !important;
        }

        .bloc-right {
            flex-direction: column !important;
            margin-left: 40px;
        }
    }

    /********** INDEX PAGE **********/
    /*** OUR STORY ***/
    #our-story {

        .story-text {
            width: 400px !important;
        }

        .story-picture {
            width: 400px !important;
            height: 250px !important;
        }
    }

    /*** PREVIOUS TRIPS ***/
    #our-previous-trips {
        .previous-trip-picture {
            width: 400px !important;
            height: 263px !important;

            img {
                width: 400px !important;
                height: 263px !important;
            }
        }

        .previous-trip-text {
            width: 400px !important;
        }
    }

    /********** ASSO PAGE **********/
    /*** MONTHLY MEETING ***/
    #reunions-mensuelles {

        .our-meeting {
            flex-direction: column-reverse !important;
        }

        .meetingLeft,
        .meetingRight {
            width: 500px !important;
        }
    }

    /*** AGENDA ***/
    #agenda .gagenda_embed {
        iframe {
            width: 400px !important;
            height: 400px !important;
        }
    }

    /*** FUTURE TRIPS INDEX ***/
    #futures-sorties {
        background-attachment: scroll !important;

        .each-trip {
            width: 500px !important;
            margin: 20px !important;
        }

        img {
            width: 400px !important;
            height: 250px !important;
        }
    }

    /*** GALLERY ***/
    #galerie-photos {

        .gallery {
            width: 540px !important;

            .picture {
                width: 500px !important;
                height: 300px !important;
            }
        }
    }

    /*** FUTURE TRIPS SHOW ***/
    .mainShow {

        .showLeft,
        .showRight {
            width: 500px !important;
        }
    }

    /********** ADMIN PAGES **********/
    /*** MAIN DASHBOARD ***/
    .dashboardBloc {

        /*** PRESENTATION ***/
        .presentation {
            .asso-text {
                width: 500px !important;
            }
        }

        /*** FUTURE TRIPS ***/
        .each-trip {
            width: 500px !important;
        }
    }

    /*** FORMS TO CREATE & EDIT DASHBOARD ELEMENTS ***/
    .editForm {
        padding: 10px !important;

        .usersChoice {
            width: 480px !important;
        }

        .bloc {
            width: 100% !important;
        }
    }

    /*** USERS INDEX PAGE ***/
    .dashboard {
        table {
            width: 500px;
        }
    }
}

@media all and (max-width:500px) {

    /********** PARTIALS **********/
    /***** HEADERS *****/
    .headerIndex {
        min-height: 90vh !important;
        height: auto;

        h1 {
            font-size: 60px;
        }
    }

    .headerPages {
        background-attachment: scroll !important;
        min-height: 70vh !important;
        height: auto;

        h1 {
            font-size: 80px !important;
        }
    }

    /********** INDEX PAGE **********/
    /*** OUR STORY ***/
    #our-story {

        .story-text {
            width: 400px !important;
        }

        .story-picture {
            width: 400px !important;
            height: 250px !important;
        }
    }

    /*** OTHER CLUB ***/
    #other-club {
        padding: 100px 0px !important;

        .club-picture {
            width: 400px !important;
            height: 300px !important;
        }

        .club-text {
            width: 400px !important;
        }
    }

    /*** CONTACT ***/
    #contact-us {
        background-attachment: scroll !important;

        .buttonIndex {
            font-size: 40px !important;
            margin: 20px 20px 80px 20px !important;
            width: 287px !important;
            padding: 10px !important;
        }
    }

    /********** ASSO PAGE **********/
    /*** MONTHLY MEETING ***/
    #reunions-mensuelles {

        .meetingLeft,
        .meetingRight {
            width: 400px !important;
        }
    }

    /*** FUTURE TRIPS INDEX ***/
    #futures-sorties {

        .each-trip {
            width: 400px !important;
            height: 600px !important;
            padding: 0 20px !important;
        }

        img {
            width: 300px !important;
            height: 210px !important;
        }
    }

    /*** FUTURE TRIPS SHOW ***/
    .headerShow {
        background-attachment: scroll !important;

        h1 {
            font-size: 60px;
        }

        h2 {
            font-size: 30px;
        }
    }

    .mainShow {

        .showLeft,
        .showRight {
            width: 400px !important;
        }
    }

    /*** GALLERY ***/
    #galerie-photos {

        .gallery {
            width: 440px !important;

            .picture {
                width: 400px !important;
                height: 300px;
            }
        }
    }

    /********** FORUM PAGE **********/
    .mainForum {

        padding: 0 !important;

        .forum {
            width: 90% !important;
        }

        .postContent {
            margin-bottom: 35px !important;

            .text {
                flex-direction: column-reverse;

                p {
                    width: 100% !important;
                }

                .author {
                    margin-bottom: 20px;
                    width: 100% !important;
                }
            }

            .pics {
                justify-content: center;

                img {
                    margin: 10px 0 !important;
                }
            }
        }

        .answersAuthor {
            width: 100% !important;
        }
    }

    /********** ADMIN PAGES **********/
    /*** MAIN DASHBOARD ***/
    .dashboardBloc {

        /*** PRESENTATION ***/
        .presentation {
            .asso-text {
                width: 400px !important;
            }
        }

        /*** OTHER CLUB ***/
        .otherClub {

            .pic {
                width: 300px !important;
            }
        }

        /*** FUTURE TRIPS ***/
        .each-trip {
            width: 400px !important;
        }

        .pic-infos {
            flex-direction: column !important;
        }
    }

    /*** USERS INDEX PAGE ***/
    .dashboard {
        table {
            width: 400px;

            td {
                padding: 10px 30px !important;
            }
        }
    }

    /*** FORMS TO CREATE & EDIT DASHBOARD ELEMENTS ***/
    .editForm {
        .custom-form {
            width: 300px !important;
        }

        .usersChoice {
            width: 300px !important;
            column-count: 1 !important;
        }
    }
}

@media all and (max-width:400px) {

    /********** PARTIALS **********/
    /***** HEADERS *****/
    .headerIndex {
        img {
            height: 90px !important;
            width: auto;
            margin: 10px;
        }

        h1 {
            margin: 140px 20px 60px 20px !important;
        }
    }

    .headerPages {
        min-height: 60vh !important;
        height: auto;

        img {
            height: 90px !important;
            width: auto;
            margin: 10px;
        }

        h1 {
            margin-top: 150px !important;
            font-size: 55px !important;
        }
    }

    .headerShow {
        img {
            height: 90px !important;
            width: auto;
            margin: 10px;
        }

        h1 {
            margin-top: 150px !important;
        }
    }

    .headerAdmin {
        p {
            font-size: 18px;
        }

        ul {
            padding-left: 0 !important;
        }

        img {
            height: 45px;
        }

        a {
            margin: 0 !important;
        }
    }

    /***** SIDEBAR *****/
    #sidebarResponsive {
        width: 100% !important;
        position: fixed !important;
        top: 86px !important;
        height: 50px !important;
        z-index: 900 !important;

        .navbar {
            font-size: 0px !important;
        }

        nav {
            flex-direction: row !important;
            justify-content: center;

            ul {
                flex-direction: row !important;
            }

            a {
                padding: 5px !important;
            }
        }
    }

    /***** FOOTER *****/
    footer {

        .bloc-right {
            margin-left: 10px !important;

            .list {
                font-size: 15px !important;
            }
        }

        .footerBloc2 {
            flex-direction: column;
            text-align: center;
        }
    }

    /********** INDEX PAGE **********/
    /*** OUR STORY ***/
    #our-story {

        .story-text {
            width: 280px !important;
        }

        .story-picture {
            width: 280px !important;
            height: 150px !important;
        }
    }

    /*** OUR PURPOSES ***/
    #our-purposes {
        background-attachment: scroll !important;

        .purpose {
            height: 290px !important;
            width: 290px !important;
            margin: 40px 0 !important;
        }

        p {
            font-size: 20px !important;
        }
    }

    /*** PREVIOUS TRIPS ***/
    #our-previous-trips {

        /***** LOGO *****/
        img.logo-asso {
            margin: 10px !important;
            height: 120px !important;
            width: auto;
        }

        .previous-trip-picture {
            width: 280px !important;
            height: 184px !important;

            img {
                width: 280px !important;
                height: 184px !important;
            }
        }

        .previous-trip-text {
            width: 280px !important;
        }
    }

    /*** OTHER CLUB ***/
    #other-club {

        .club-picture {
            width: 280px !important;
            height: 200px !important;
        }

        .club-text {
            width: 280px !important;
        }
    }

    /********** ASSO PAGE **********/
    /*** MONTHLY MEETING ***/
    #reunions-mensuelles {

        .meetingLeft,
        .meetingRight {
            width: 290px !important;
        }
    }

    /*** AGENDA ***/
    #agenda {
        .logo-meteo {
            width: auto;

            img.logo-asso {
                margin: 10px !important;
                height: 120px !important;
                width: auto;
            }
        }

        .gagenda_embed {
            iframe {
                width: 290px !important;
                height: 400px !important;
            }
        }
    }

    /*** FUTURE TRIPS INDEX ***/
    #futures-sorties {

        .each-trip {
            width: 290px !important;
            height: 550px !important;
        }

        img {
            width: 230px !important;
            height: 150px !important;
        }
    }

    /*** FUTURE TRIPS SHOW ***/
    .mainShow {

        .showLeft,
        .showRight {
            width: 290px !important;
        }

        ul {
            padding: 0 !important;
        }
    }

    /*** GALLERY ***/
    #galerie-photos {

        .gallery {
            width: 340px !important;

            .picture {
                width: 300px !important;
                height: 220px;
            }
        }
    }

    /********** ADMIN PAGES **********/
    /*** MAIN DASHBOARD ***/
    .dashboard {
        margin-left: 0 !important;
        margin-top: 136px !important;
        padding: 10px 10px 60px 10px !important;
    }

    .button {
        padding: 10px 15px !important;
        font-size: 18px !important;
    }

    .dashboardBloc {

        /*** PRESENTATION ***/
        .presentation {

            .asso-pic,
            .asso-text,
            .bloc-down {
                width: 280px !important;
                margin: 20px 0 !important;
            }
        }

        /*** MONTHLY MEETING ***/
        .asso-meet {
            width: 280px !important;
            margin: 20px 0 !important;
        }

        /*** OTHER CLUB ***/
        .otherClub {

            p.description {
                font-size: 16px !important;
            }

            .pic {
                width: 300px !important;
            }
        }

        /*** FUTURE TRIPS ***/
        .each-trip {
            width: 280px !important;
            margin: 20px 0 !important;
        }

        /***** LIST OF MEMBERS IN ALL PAGES *****/
        .user-list {
            column-count: 1;
        }
    }

    /*** FORMS TO CREATE & EDIT DASHBOARD ELEMENTS ***/
    .editForm {

        .custom-form {
            width: 280px !important;
        }

        .usersChoice {
            width: 280px !important;
        }
    }

    /*** USERS INDEX PAGE ***/
    .dashboard table {
        width: 280px;
        font-size: small !important;

        td {
            padding: 5px !important;
        }
    }

    .dataTables_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .dataTables_wrapper .dataTables_filter label {
        white-space: wrap !important;

        input {
            margin-left: 0 !important;
        }
    }
}