{% extends 'base.html.twig' %}

{% block title %}Page administration{% endblock %}

{% block body %}
{% include "_partials/_headerAdmin.html.twig" %}
	<main>
		<section class="row mr-0 ml-0" style="background-color:#343A40;">
			{% include "_partials/_sidebar.html.twig" %}

        


        </section>
    </main>
{% endblock %}