<form method="post" action="{{ path('app_contacts_delete', {'id': contact.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contact.id) }}">
	<button class="icon" title="Supprimer" data-bs-toggle="tooltip" data-bs-placement="right">
		<i class="fa-solid fa-trash-can" style="margin-left: 10px;"></i>
	</button>
</form>
