{% extends 'base.html.twig' %}

{% block title %}Association AMCA 44{% endblock %}

{% block body %}
<header class="headerPages">
		<h1>Contact</h1>
		{% include "_partials/_navbar.html.twig" %}
	</header>
	
    <main>
        <h2>Contactez-nous !</h2>
        {{ include('contacts/_form.html.twig') }}
    </main>
{% endblock %}