<form method="post" action="{{ path('app_previous_trips_delete', {'id': previous_trip.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ previous_trip.id) }}">
    <button class="btn">Supprimer</button>
</form>
