{% extends 'base.html.twig' %}

{% block title %}Modifier la sortie
{% endblock %}

{% block body %}
	{% include "_partials/_headerAdmin.html.twig" %}
	<section class="row m-0">
		{% include "_partials/_sidebar.html.twig" %}

		<div class="dashboard editForm" style="height:100vh;">
			<h2>Modifier la sortie</h2>

			{{ include('previous_trips/_form.html.twig') }}
			<div class="bloc">
				<button class="button" id="customSubmitButton">Valider</button>
				{{ include('previous_trips/_delete_form.html.twig') }}
				<a class="button" href="{{ path('admin') }}">Retour</a>
			</div>
		</div>
	</section>

	<script>
		document.getElementById('customSubmitButton').addEventListener('click', function () {
document.querySelector('.submit-button').click();
});
	</script>
{% endblock %}
