<form method="post" action="{{ path('app_purposes_delete', {'id': purpose.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ purpose.id) }}">
	<button class="button">Supprimer</button>
</form>
