<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta
		name="description" content="Site de l'Association des Motocyclistes de la Côte d'Amour">

		<!--META TAG FOR ROBOTS-->
		<meta name="robots" content="index, follow">

		<title>
			{% block title %}Site AMCA 44
			{% endblock %}
		</title>

		<!--FAVICON-->
		<link
		rel="icon" type="image/png" href="{{ asset('images/favicon-amca.png') }}">

		<!--ICONS-->
		<script src="https://kit.fontawesome.com/d977b1f38d.js" crossorigin="anonymous"></script>

		<!--FONTS-->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link
		href="https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@300&family=Over+the+Rainbow&display=swap" rel="stylesheet">

		<!--STYLES-->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
		<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<link href="https://cdn.datatables.net/v/bs5/dt-1.13.8/datatables.min.css" rel="stylesheet">
		<link rel="stylesheet" href="{{ asset('css/style.css') }}">
	</head>
	<body>
		{% block header %}{% endblock %}

		{% block body %}{% endblock %}

		{% block footer %}{% endblock %}

		<!--SCRIPT-->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
		<script src="{{ asset('js/scripts.js') }}"></script>

		<!-- DATATABLES -->
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="https://cdn.datatables.net/v/bs5/dt-1.13.8/datatables.min.js"></script>
	</body>
</html>
