{% extends 'base.html.twig' %}

{% block title %}Nouvelle présentation{% endblock %}

{% block body %}
    <h1>Nouvelle présentation</h1>

    {{ include('presentations/_form.html.twig') }}

    <a href="{{ path('app_presentations_index') }}">Retour</a>
{% endblock %}
