@import "mixins";
@import "variables";
@import "responsive";

/********** GLOBALS **********/
/***** TITLES *****/
h1 {
    @include title1;
}

h2 {
    @include title2;
}

h2::after {
    display: block;
    height: 1px;
    width: 100px;
    content: "";
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 40px;
    background-color: $light;
    box-shadow: $light 1px 0 5px;
}

h4 {
    @include title4;
}

h4::after {
    display: block;
    height: 1px;
    width: 100px;
    content: "";
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: $light;
    box-shadow: $light 1px 0 5px;
}

/***** TEXTS *****/
p,
li,
small {
    @include paragraph;
}

p {
    font-size: 20px;
}

.resetText {
    text-align: center;
}

/***** LINKS *****/
a {
    @include paragraph;
    text-decoration: none;
}

a.errorLinks {
    color: $light;
    text-decoration: none;
}

a:hover {
    color: $light;
    text-decoration: none;
    text-shadow: $light 0 0 5px;
}

/***** LIST OF MEMBERS IN ALL PAGES *****/
.user-list {
    column-count: 2;
    column-gap: 20px;
    margin-left: 10px;
    margin-top: 10px;
}

.user-list li {
    margin-bottom: 5px;
    margin-left: 20px;
}

/***** BUTTONS *****/
.button {
    color: $light;
    background-color: $dark;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Anton", sans-serif;
    font-size: 20px;
    text-decoration: none;
    transition: all 0.5s ease;
}

.button:hover {
    text-decoration: none;
    box-shadow: $light 0px 0 5px;
    text-shadow: $light 0 0 5px;
}

/***** ICONS *****/
.icon {
    color: $darker;
    font-size: 20px;
    border: none;
    background-color: transparent;
    transition: all 0.5s ease;
}

.icon:hover {
    color: $light;
    text-shadow: $dark 0 0 5px;
}

/********** PARTIALS **********/
/***** MAIN NAVBAR *****/
.navbar {
    font-size: 30px;
    color: $light;

    a {
        margin: 0 10px;
    }
}

/***** SIDEBARS *****/
#sidebarFullsize {
    width: 13%;
    padding: 0;
    position: fixed;
    top: 86px;
    height: 100vh;
    z-index: 900;

    nav {
        height: 100%;
        margin: 0;
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        font-size: 16px;

        i {
            color: $light;
            margin-right: 5px;
        }

        a {
            color: $light;
            margin: 0;
        }
    }
}

#sidebarResponsive {
    display: none;
    width: 5rem;
    position: fixed;
    top: 86px;
    height: 100%;
    z-index: 900;

    .fixed-sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 1000;
    }

    nav {
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        i {
            color: $light;
            font-size: 16px;
        }
    }
}

/***** HEADERS *****/
.headerIndex {
    background-image: linear-gradient(rgb(1, 1, 1, 0.4), rgba(1, 1, 1, 0.4)), url(../images/wallpaper1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    height: auto;
    color: $light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        margin: 90px 20px;
    }
}

.headerPages {
    background-image: linear-gradient(rgb(1, 1, 1, 0.4), rgba(1, 1, 1, 0.4)),
        url(../images/wallpaper3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 80vh;
    height: auto;
    color: $light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        margin: 70px 0;
    }
}

.headerForum {
    min-height: 50vh;
    height: auto;
}

.headerShow {
    background-image: linear-gradient(rgb(1, 1, 1, 0.6), rgba(1, 1, 1, 0.6)),
        url(../images/wallpaper4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 60vh;
    height: auto;
    color: $light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        margin: 70px 0;
    }

    h2::after,
    h4::after {
        display: none;
    }

    h4 {
        margin: 40px;
    }
}

.headerAdmin {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    img {
        height: 70px;
        margin-left: 10px;
    }

    li {
        list-style: none;
    }

    i {
        color: $light;
        font-size: 20px;
    }
}

/***** FOOTER *****/
footer {
    li {
        color: $light;
        list-style: none;
        line-height: 4;
    }

    a {
        color: $light;
        text-decoration: none;
    }

    .footerBloc1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $dark;
        padding: 60px 100px;

        .bloc-left img {
            height: 290px;
            margin: 20px;
        }

        .bloc-right {
            display: flex;
            align-items: start;
        }

        .list {
            font-size: 20px;
            margin-left: 80px;
        }
    }

    .footerBloc2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $darker;

        .legals,
        .brand {
            color: $light;
            margin: 20px;
        }
    }
}

/********** LEGAL PAGES **********/
.mainLegals {
    background-color: $dark;
    color: $light;

    h1 {
        font-size: 70px;
        padding: 40px;
    }

    .blocsLegals {
        display: flex;
        justify-content: space-evenly;
        align-items: start;
        padding: 20px;

        .blocLeft,
        .blocRight {
            width: 50%;
            padding: 30px;
            text-align: justify;
        }

        h2,
        h4 {
            padding-top: 20px;
        }
    }
}

/********** INDEX PAGE **********/
/*** OUR STORY ***/
#our-story {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    background-color: $brown;
    color: $light;
    padding: 100px 20px;

    .story-picture {
        width: 400px;
        height: 400px;
        box-shadow: $darker 0px 0px 20px 10px;
        border-radius: 10px;

        img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }
    }

    .story-text {
        width: 700px;

        p {
            text-align: center;
        }
    }

    .story-text,
    .story-picture {
        opacity: 0;
        transform: translateX(100);
        transition: opacity 0.8s ease, transform 1s ease;
    }

    .animate-from-left {
        transform-origin: left center;
    }

    .animate-from-right {
        transform-origin: right center;
    }

    .animated {
        opacity: 1 !important;
        transform: translateX(15%) !important;
    }

    .story-text.animated {
        transform: translateX(-15%) !important;
    }
}

/*** OUR PURPOSES ***/
#our-purposes {
    padding: 100px 20px;
    background-image: linear-gradient(rgb(1, 1, 1, 0.7), rgba(1, 1, 1, 0.7)),
        url(../images/photo-de-groupe.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $light;

    .our-purposes {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        .purpose {
            height: 400px;
            width: 400px;
            background-color: $light;
            opacity: 0.8;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 40px 30px 30px 30px;
            color: $darker;
            margin: 60px;
        }

        p {
            text-align: center;
            font-size: 25px;
            margin: 0;
        }
    }
}

/*** PREVIOUS TRIPS ***/
#our-previous-trips {
    background-color: $dark;
    color: $light;
    padding: 100px 20px;

    .previous-trips {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .previous-trip {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 60px;
        width: 100%;

        &:nth-child(odd) {
            flex-direction: row-reverse;
        }

        .previous-trip-picture {
            width: 500px;
            height: 370px;
            margin: 40px;
            box-shadow: $light 0px 0px 10px 5px;

            img {
                width: 500px;
                height: 370px;
            }
        }

        .previous-trip-text {
            width: 600px;
            margin: 40px;
            text-align: center;
        }
    }
}

/*** CONTACT ***/
#contact-us {
    padding: 100px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(1, 1, 1, 0.7), rgba(1, 1, 1, 0.7)),
        url(../images/wallpaper2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    h1 {
        font-size: 60px;
        color: $light;
    }

    .buttonIndex {
        color: $light;
        background-color: lightgrey;
        font-size: 60px;
        font-family: "Anton", sans-serif;
        padding: 10px 40px;
        border-radius: 10px;
        border: none;
        margin-left: 60px;
        width: 482px;
        text-decoration: none;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .buttonIndex:hover {
        box-shadow: $light 0px 0 10px;
        text-shadow: $light 0 0 5px;
    }
}

/********** ASSO PAGE **********/
/*** MONTHLY MEETING ***/
#monthly-meeting {
    background-color: $darker;
    color: $light;
    padding: 100px 20px;

    .our-meeting {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .meetingLeft {
        width: 500px;

        img {
            width: 100%;
            height: 100%;
            margin: 40px 0;
        }

        #mapMeetings {
            width: 100%;
            height: 300px;
        }
    }

    .meetingRight {
        width: 700px;

        p {
            font-size: 30px;
            text-align: center;
        }

        i {
            margin-right: 10px;
        }
    }

    .meetingRight,
    .meetingLeft {
        opacity: 0;
        transform: translateX(100);
        transition: opacity 0.8s ease, transform 1s ease;
    }

    .animate-from-left {
        transform-origin: left center;
    }

    .animate-from-right {
        transform-origin: right center;
    }

    .animated {
        opacity: 1 !important;
        transform: translateX(5%) !important;
    }

    .meetingRight.animated {
        transform: translateX(-5%) !important;
    }
}

/*** AGENDA ***/
#agenda {
    background-color: $dark;
    color: $light;
    padding: 100px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    iframe {
        width: 60%;
        height: 600px;
    }
}

/*** FUTURE TRIPS INDEX ***/
#futures-sorties {
    background-color: $darker;
    color: $light;
    padding: 100px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .all-trips {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .each-trip {
            width: 600px;
            height: 700px;
            background-color: $light;
            box-shadow: $light 0px 0px 8px 2px;
            margin: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            color: $darker;
            opacity: 0;
            transform: translateY(20px);
            transition: opacity 0.5s, transform 0.5s;
        }

        .each-trip.visible {
            opacity: 1;
            transform: translateY(0);
        }

        h4::after {
            background-color: $darker;
            box-shadow: $darker 1px 0 5px;
        }

        img {
            width: 500px;
            height: 350px;
            margin-bottom: 30px;
        }

        small {
            font-size: 18px;
        }
    }
}

/*** FUTURE TRIPS SHOW ***/
.mainShow {
    background-color: $darker;
    color: $light;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 60px;

    .showLeft {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 600px;
            height: 450px;
            margin-bottom: 30px;
        }

        #mapFutureTrip {
            width: 600px;
            height: 450px;
        }
    }

    .showRight {
        width: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;

        p {
            text-align: center;
            padding: 20px;
        }

        h4 {
            margin-top: 40px;
        }
    }
}

/********** MEMBERSHIP PAGE **********/
.mainMembership {
    background-color: $darker;
    color: $light;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 20px;

    h2 {
        margin-top: 60px;
    }

    a {
        text-decoration: none;
        color: $light;
        text-transform: uppercase;
    }

    embed {
        height: 480px;
    }
}

/********** FORUM PAGE **********/
.mainForum {
    background-color: $darker;
    color: $light;
    padding: 40px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: start;

    /*** RIGHT SECTION OF PAGE ***/
    aside {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 20px;

        .new {
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .new .button {
            margin-bottom: 10px;
        }

        .existing {
            margin: 10px;
            display: flex;
            flex-direction: column;
        }

        table {
            background-color: $light;
            color: $dark;
            border-radius: 10px;
            box-shadow: $light 0px 0 5px;
            width: 300px;
            margin-bottom: 5px;
            border: none;
            @include paragraph;
            font-size: 14px;

            th {
                text-transform: uppercase;
                text-align: left;
                padding: 10px;
                border-bottom: 1px solid $dark;
            }

            td {
                text-align: left;
                padding: 10px;
            }

            .textCenter {
                text-align: center;
            }

            i {
                color: $dark;
                font-size: 12px;
                margin-right: 5px;
            }
        }
    }

    /*** LEFT SECTION OF PAGE ***/
    .forum {
        display: flex;
        flex-direction: column;
        margin: 20px;

        h1 {
            font-size: 50px;
            text-align: left;
            margin-bottom: 30px;
        }

        h4 {
            text-align: left;
        }

        h4::after {
            width: 100%;
        }

        i,
        a {
            text-decoration: none;
            color: $dark;
            font-size: 20px;
        }

        .icon:hover {
            color: $light;
        }

        /*** FORUM SECTIONS ***/
        .allPosts {
            background-color: $light;
            box-shadow: $light 0px 0 5px;
            color: $dark;
            border-radius: 10px;
            margin-bottom: 20px;
            padding: 20px;
        }

        .post {
            background-color: white;
            border-radius: 10px;
            padding: 20px;
            margin: 20px 0;
        }

        .postContent {
            display: flex;
        }

        .postContent p {
            width: 80%;
            padding: 0 20px;
            margin-bottom: 40px;
        }

        .button {
            color: $light;
            width: 146px;

            i {
                margin-right: 10px;
                color: $light;
            }
        }

        .author {
            width: 20%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .answers {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .answersAuthor {
            background-color: $light;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            padding: 20px;
            margin: 5px;
            width: 80%;

            i {
                font-size: 15px;
                color: $dark;
            }
        }
    }
}

/********** CONTACT PAGE **********/
.mainContact {
    background-color: $darker;
    color: $light;
    padding: 100px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        margin-top: 20px;
    }

    .custom-form {
        background-color: $light;
        opacity: 0.7;
        border: 1px solid $light;
        border-radius: 5px;
        margin-bottom: 40px;
        display: block;
        width: 100%;
        padding: 10px;
    }

    #contacts_agreeTerms {
        margin-left: 5px;
    }
}

/********** LOGIN & REGISTER PAGES **********/
.loginForm {
    min-height: 100vh;
    height: auto;
    margin-top: 85px;
    padding: 80px 20px;
    background-color: $darker;
    color: $light;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    h2 {
        margin-top: 60px;
        text-align: center;
    }

    .custom-form {
        background-color: $light;
        opacity: 0.7;
        border: 1px solid $light;
        border-radius: 5px;
        display: block;
        width: 300px;
        padding: 10px;
    }

    label {
        margin-top: 10px;
    }

    .bloc {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;

        #registration_form_assignment_0,
        #registration_form_assignment_1 {
            margin-right: 5px;
            margin-left: 15px;
        }
    }

    .blocActions {
        display: flex;
        justify-content: space-evenly;
    }

    .password-toggle {
        position: relative;
    }

    .toggle-password {
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        color: $dark;
        font-size: small;
        margin-right: 5px;
        transition: all 0.5s ease;
    }

    .toggle-password:hover {
        color: $light;
        text-shadow: $dark 0 0 5px;
    }
}

/********** ADMIN PAGES **********/
/*** MAIN DASHBOARD ***/
.dashboard {
    min-height: 100vh;
    height: auto;
    width: 87%;
    background-color: #d6d6d6;
    color: $dark;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 85px;
    margin-left: 13%;

    h1 {
        margin-top: 40px;
        margin-bottom: 20px;
        font-size: 40px;
    }

    /*** SECTIONS OF MAIN DASHBOARD***/
    .dashboardBloc {

        /*** PRESENTATION ***/
        .presentation {
            display: flex;
            justify-content: center;
        }

        .bloc-left {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .bloc-up {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .pres-bloc,
        .bloc-down {
            display: flex;
            flex-direction: column;
            background-color: $light;
            margin: 20px;
            border-radius: 10px;
            box-shadow: #0D121C 0px 0 5px;
            padding: 20px;
            width: 90%;
        }

        .bloc {
            display: flex;
            flex-direction: column;
        }

        p.description {
            text-align: center;
            background-color: white;
            border-radius: 10px;
            padding: 10px;
        }

        .asso-pic {
            width: 290px;
        }

        .asso-text {
            width: 600px;
        }

        .asso-logo {
            width: 180px;
        }

        .asso-fee {
            width: 180px;
            display: flex;
            flex-direction: column;
        }

        .asso-docs {
            width: 220px;
            height: 805px;
        }

        .icon-small {
            font-size: 15px;
            margin-left: 5px;
        }

        /*** MONTHLY MEETING ***/
        .asso-meet {
            display: flex;
            flex-direction: column;
            background-color: $light;
            margin: 20px;
            border-radius: 10px;
            box-shadow: #0D121C 0px 0 5px;
            padding: 20px;
        }

        .meet-blocs {
            display: flex;
            flex-wrap: wrap;
            justify-content: start;
        }

        .meet-bloc {
            margin: 10px 20px;
            width: 290px;
            display: flex;
            flex-direction: column;
        }

        .meet-blocs img {
            width: 200px;
            height: 140px;
        }

        /*** FUTURE TRIPS ***/
        .all-future-trips {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .each-trip {
                width: 700px;
                border-radius: 10px;
                background-color: $light;
                box-shadow: #0D121C 0px 0 5px;
                margin: 20px;
                padding: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            h1 {
                font-size: 25px;
                margin: 10px 0;
            }

            .pic-infos {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
            }

            .pic-infos img {
                width: 200px;
                height: 140px;
            }

            .pic-infos .infos {
                margin: 20px;
                display: flex;
                flex-direction: column;
            }

            p.description {
                font-size: 18px;
                text-align: center;
                background-color: white;
                padding: 20px;
            }

            .spaced {
                margin-top: 10px;
            }

            .places {
                display: flex;
                flex-direction: column;
            }
        }
    }

    /*** PREVIOUS TRIPS (DASHBOARD AND PAGE) ***/
    .all-previous-trips {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .tripCard {
            background-color: $light;
            box-shadow: #0D121C 0px 0 5px;
            border-radius: 10px;
            margin: 30px 0;
            padding: 10px 0;
            max-width: 600px;
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        .header h1 {
            font-size: 25px;
            margin: 10px;
        }

        .body {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        p.description {
            font-size: 18px;
            text-align: center;
            background-color: white;
            padding: 20px;
            margin: 20px;
        }

        .pic {
            width: 260px;
            padding: 5px;
            position: relative;

            img {
                width: 250px;
                height: 180px;
                transition: filter 0.5s ease;
            }

            &:hover img {
                filter: brightness(50%);
            }

            .icon {
                display: none;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: $light;
                font-size: 25px;
                cursor: pointer;
            }

            &:hover .icon {
                display: block;
            }
        }

        .actions {
            margin-left: 20px;
        }

        .actions a {
            text-decoration: none;
            margin-right: 10px;
        }
    }

    /*** USERS INDEX PAGE ***/
    table {
        background-color: $light;
        border-radius: 10px;
        box-shadow: #0D121C 0px 0 5px;
        margin: 20px;
        border: none;
        font-size: small;
        border-radius: 10px;

        th {
            text-align: center;
            text-transform: uppercase;
            padding: 10px;
            border-bottom: 1px solid $dark;
            white-space: nowrap;
        }

        td {
            text-align: center;
            padding: 10px 5px;

            img {
                width: 150px;
                height: 110px;
                margin: 2px;
            }
        }

        tbody tr:nth-child(odd) {
            background-color: white;
        }
    }

    #dataTable {
        font-size: small;
        border-radius: 10px;

        th {
            text-align: center;
        }

        td {
            padding: 10px 5px;
        }
    }

    .dataTables_wrapper .dataTables_paginate {
        margin-bottom: 40px;
    }

    .page-link {
        background-color: transparent;
        border: none;
        color: $dark;
    }

    .page-item.active .page-link {
        background-color: white;
        border: none;
        color: $dark;
    }

    .dataTables_info,
    .table-info {
        @include paragraph;
        font-size: 18px;
        color: $dark;
        display: flex;
        justify-content: space-between;
        margin: 30px;
    }

    /*** RECEIVED MESSAGES PAGE ***/
    .receivedMessage {
        width: 60%;
        background-color: $light;
        border-radius: 10px;
        box-shadow: #0D121C 0px 0 5px;
        padding: 20px;
        margin: 20px;

        span {
            font-weight: bold;
        }

        .blocMessage {
            margin: 30px 0;
            padding: 10px;
            background-color: white;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
        }

        .blocMessage .message {
            font-style: italic;
        }

        .blocActions {
            display: flex;
            align-items: center;
            padding-left: 10px;
        }
    }
}

/*** FORMS TO CREATE & EDIT DASHBOARD ELEMENTS ***/
.editForm {
    background-color: #d6d6d6;
    color: $dark;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 80px;
    min-height: 100vh;
    height: auto;

    h2 {
        margin-top: 60px;
        text-align: center;
    }

    .custom-form {
        background-color: $light;
        opacity: 0.7;
        border: 1px solid $light;
        border-radius: 5px;
        display: block;
        width: 500px;
        padding: 10px;
    }

    .usersChoice {
        background-color: $light;
        opacity: 0.7;
        border-radius: 5px;
        width: 500px;
        padding: 10px;
        column-count: 2;
        column-gap: 10px;
    }

    .usersChoice label {
        width: 91%;
        margin-top: 0;
    }

    label {
        margin-top: 30px;
    }

    .bloc {
        display: flex;
        justify-content: space-evenly;
        width: 400px;
        margin: 20px;
    }

    .button {
        width: fit-content;
    }

    .hide-button {
        display: none;
    }
}