{% extends 'base.html.twig' %}

{% block title %}Modifier la photo
{% endblock %}

{% block body %}
	{% include "_partials/_headerAdmin.html.twig" %}
	<main>
		<section class="row m-0">
			{% include "_partials/_sidebar.html.twig" %}

			<div class="col-md-10 editForm">
				<h2>Modifier la photo</h2>

				{{ include('trip_pictures/_form.html.twig') }}
				<div class="bloc">
					<button class="button" id="customSubmitButton">Valider</button>
					{{ include('trip_pictures/_delete_form.html.twig') }}
					<a class="button" href="{{ path('app_trip_pictures_index') }}">Retour</a>
				</div>
			</div>
		</section>
	</main>

	<script>
		document.getElementById('customSubmitButton').addEventListener('click', function () {
document.querySelector('.submit-button').click();
});
	</script>
{% endblock %}
