{% extends 'base.html.twig' %}

{% block title %}Bibliothèque de photos{% endblock %}

{% block body %}
    <h1>Bibliothèque de photos</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Photo</th>
                <th>Sortie liée</th>
                <th>Modifier</th>
            </tr>
        </thead>
        <tbody>
        {% for trip_picture in trip_pictures %}
            <tr>
                <td><img src="{{ asset('uploads/images/' ~ trip_picture.picture) }}" alt="Photo de la sortie" width="200px"></td>
                <td>{{ trip_picture.previous_trips.previousTripName }}</td>
                <td>
                    <a href="{{ path('app_trip_pictures_edit', {'id': trip_picture.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Donnée vide</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_trip_pictures_new') }}">Ajouter</a>
{% endblock %}
