{% extends 'base.html.twig' %}

{% block title %}Bibliothèque de photos{% endblock %}

{% block body %}
    <h1>Bibliothèque de photos</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Photo</th>
                <th>Sortie liée</th>
                <th>Modifier</th>
            </tr>
        </thead>
        <tbody>
        {% for tripPicture in tripPictures %}
            <tr>
                <td>
                    {% if tripPicture.tripPicture is defined %}
                        <img src="{{ asset('uploads/images/' ~ tripPicture.tripPicture) }}" alt="Photo de la sortie" width="200px">
                    {% else %}
                        <em>Photo non disponible</em>
                    {% endif %}
                </td>
                <td>
                    {% if tripPicture.previousTrips is defined and tripPicture.previousTrips is not empty %}
                        {{ tripPicture.previousTrips.previousTripName }}
                    {% else %}
                        <em>Sortie non liée</em>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('app_trip_pictures_edit', {'id': tripPicture.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Donnée vide</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_trip_pictures_new') }}">Ajouter</a>
{% endblock %}
