{% extends 'base.html.twig' %}

{% block title %}Email envoyé
{% endblock %}

{% block body %}
	{% include "_partials/_headerAdmin.html.twig" %}
	<div class="loginForm">
		<p class="resetText">Si un compte correspondant à votre adresse e-mail existe, un e-mail vient d'être envoyé.
		</p>
		<p class="resetText">Cet e-mail contient un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.</p>
		<p class="resetText">Ce lien expirera dans
			{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData,
        'ResetPasswordBundle') }}.</p>
		<p class="resetText">Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier de courrier indésirable ou
			<a class="errorLinks" href="{{ path('app_forgot_password_request') }}">essayez à nouveau</a>.</p>
	</div>
{% endblock %}
