{% extends 'base.html.twig' %}

{% block title %}Modifier le thème
{% endblock %}

{% block body %}
	<header class="headerPages headerForum">
		<h1>Modifier le thème</h1>
		{% include "_partials/_navbar.html.twig" %}
	</header>

	<main class="editForm">

		{{ include('themes/_form.html.twig') }}
		<div class="bloc">
			<button class="button" id="customSubmitButton">Valider</button>
			{{ include('themes/_delete_form.html.twig') }}
			<a class="button" href="{{ path('forum') }}">Retour</a>
		</div>

	</main>
	{% include "_partials/_footer.html.twig" %}
	
	<script src="{{ asset('js/scripts.js') }}"></script>
{% endblock %}
