{# templates/bundles/TwigBundle/Exception/error.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
	{% include "_partials/_headerAdmin.html.twig" %}
	<div class="loginForm">
		<h2>Erreur</h2>

		<p>Une erreur est survenue, veuillez
			<a class="errorLinks" href="{{ path('app_contacts_new') }}">contacter l'administrateur</a>
		</p>
		<p>ou retourner sur la
			<a class="errorLinks" href="{{ path('home') }}">page d'accueil</a>.</p>
	</div>
{% endblock %}
