{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
	{% include "_partials/_headerAdmin.html.twig" %}
	<div class="loginForm">
		<h2>Page non trouvée</h2>

		<p>Veuillez retourner sur la
			<a class="errorLinks" ref="{{ path('home') }}">page d'accueil</a>.</p>
	</div>
{% endblock %}
