{% extends 'base.html.twig' %}

{% block title %}Modifier le commentaire
{% endblock %}

{% block body %}
	<header class="headerPages">
		<h1>Modifier le commentaire</h1>
		{% include "_partials/_navbar.html.twig" %}
	</header>

	<div class="editForm">

		{{ include('comments/_form.html.twig') }}
		<div class="bloc">
			<button class="button" id="customSubmitButton">Valider</button>
			<a class="button" href="{{ path('forum') }}">Retour</a>
		</div>

	</div>
	{% include "_partials/_footer.html.twig" %}
	<script>
		document.getElementById('customSubmitButton').addEventListener('click', function () {
document.querySelector('.submit-button').click();
});
	</script>
{% endblock %}
