{% extends 'base.html.twig' %}

{% block title %}Rédiger un commentaire{% endblock %}

{% block body %}
    <h1>Rédiger un commentaire</h1>

    {{ include('comments/_form.html.twig', {'postId': app.request.attributes.get('postId')}) }}

    <a href="{{ path('forum') }}">Retour</a>
{% endblock %}