{% extends 'base.html.twig' %}

{% block title %}Thèmes{% endblock %}

{% block body %}
    <h1>Thèmes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Titre du thème</th>
                <th>Créé par</th>
                <th>Modifier</th>
            </tr>
        </thead>
        <tbody>
        {% for theme in themes %}
            <tr>
                <td>{{ theme.themeTitle }}</td>
                <td>{{ theme.user.firstName ~ ' ' ~ theme.user.lastName }}</td>
                <td>
                    <a href="{{ path('app_themes_edit', {'id': theme.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Donnée vide</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_themes_new') }}">Ajouter</a>
{% endblock %}
