{% extends 'base.html.twig' %}

{% block title %}Nouveau thème{% endblock %}

{% block body %}
    <h1>Nouveau thème</h1>

    {{ include('themes/_form.html.twig') }}

    <a href="{{ path('forum') }}">Retour</a>
{% endblock %}
