{% extends 'base.html.twig' %}

{% block title %}Nouvelle réunion{% endblock %}

{% block body %}
    <h1>Nouvelle réunion</h1>

    {{ include('meetings/_form.html.twig') }}

    <a href="{{ path('app_meetings_index') }}">Retour</a>
{% endblock %}
